*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #8FCCFF;
}

nav, main, a, .tarjeta, footer{
    border-radius: 6px;
}

nav, .tarjeta{
    padding: 5px;
}

nav, footer{
    background-color: #f8e23c;
    margin: 5px auto;
    border: 3px solid #0a89f1;
}

nav{
    width: 65dvw;
    height: 8dvh;
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        li{
            font-size: 1.1rem;
            margin-top: 5px;
        }
    }
}

a{
    text-decoration: none;
    transition: all 0.5s ease;
}
a:link, a:visited, a:active{
    color: white;
    background-color: #0a89f1;
    border: 1px solid white;
    padding: 2px;
}

main{
    width: 65dvw;
    background-color: white;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        text-shadow: 5px 5px 4px darkgray;
        margin-bottom: 10px;
    }
}

#contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tarjeta{
    border: 1px solid black;
    width: 12dvw;
    height: 155px;
    margin-bottom: 20px;
    h3{
        font-size: 1.1rem;
    }
}

.fire{
    color: rgb(230, 230, 22);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(194, 5, 43) 100%);
    transition: all 0.5s ease;
}
.grass{
    color: rgb(42, 107, 40);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(3, 179, 11) 100%);
    transition: all 0.5s ease;
}
.water{
    color: rgb(5, 95, 110);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(3, 85, 179) 100%);
    transition: all 0.5s ease;
}
.bug{
    color: rgb(253, 253, 251);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(12, 53, 2) 100%);
    transition: all 0.5s ease;
}
.normal{
    color: rgb(94, 81, 48);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(218, 150, 3) 100%);
    transition: all 0.5s ease;
}
.poison{
    color: white;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(161, 3, 148) 100%);
    transition: all 0.5s ease;
}
.electric{
    color: rgb(65, 70, 1);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(230, 247, 5) 100%);
    transition: all 0.5s ease;
}
.ground{
    color: rgb(65, 70, 1);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(189, 174, 45) 100%);
    transition: all 0.5s ease;
}
.fairy{
    color: rgb(65, 70, 1);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(241, 193, 223) 100%);
    transition: all 0.5s ease;
}
.fighting{
    color: rgb(65, 70, 1);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(202, 201, 193) 100%);
    transition: all 0.5s ease;
}
.psychic{
    color: rgb(65, 70, 1);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, #835280 100%);
    transition: all 0.5s ease;
}
.rock{
    color: rgb(65, 70, 1);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, #66615c 100%);
    transition: all 0.5s ease;
}
.ghost{
    color: white;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, #1d1c1b 100%);
    transition: all 0.5s ease;
}
.ice{
    color: white;
    background: radial-gradient(circle, rgb(103, 186, 224) 0%, #2f03cc 100%);
    transition: all 0.5s ease;
}
.dragon{
    color: white;
    background: radial-gradient(circle, rgb(241, 245, 223) 0%, goldenrod 100%);
    transition: all 0.5s ease;
}

img{
    float: right;
    transition: all 0.5s ease;
}

.tarjeta:hover, a:hover{
    box-shadow: 5px 5px 10px 5px grey;
}

img:hover{
    filter: drop-shadow(5px 5px 4px white);
}

footer{
    width: 65dvw;
    height: 8dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    p, a{
        text-align: center;
    }

    p{
        width: 20dvw;
    }
}

.escala{
    transition: transform 0.5s ease;
}
.escala:hover{
    transform: scale(1.2);
}

@media(max-width: 480px){
    nav, main{
        width: 90dvw;
    }
    #contenedor{
        gap: 10px;
    }
    .tarjeta{
        width: 40dvw;
        height: 130px;
    }

    footer{
        height: 10dvh;
        p{
            width: 50dvw;
        }
    }
}